* {
  padding: 0;
  margin: 0;
}

.gridContainer {
  display: grid;
  border: 1px solid red;
  grid-template-columns: 34% 32% 34%;
  grid-template-rows: 100%;
  height: 100vh;
}

.cookieRender {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.bigCookieRendering {
  position: fixed;
  top: 0;
  left: 0;
  align-self: center;
  justify-self: center;
}

.cookieContainer {
  background-color: #ff0ff0;
  background-repeat: no-repeat;
  background-position: 50% -10%;
  background-size: 100%;
  border: 1px;
}

#bigCookie {
  width: 300px;
  width: 400px;
  padding-left: 20%;
}

.test2 {
  border: 1px solid blue;
  background-color: red;
}

.test3 {
  border: 1px solid blue;
  background-color: green;
}
