* {
  padding: 0;
  margin: 0;
}

.gridContainer {
  display: grid;
  border: 1px solid red;
  grid-template-columns: 34% 32% 34%;
  grid-template-rows: 100%;
  height: 100vh;
}

#cookieRender {
  width: inherit;
  height: 55%;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.bigCookieRendering {
  width: 20vw;
  position: fixed;
  align-self: center;
  justify-self: center;
}

.animation {
  width: 30vw;
  animation: cookieBackgoundAnimation 100s infinite;
}

@keyframes cookieBackgoundAnimation {
  0% {
    width: 30vw;
    transform: rotate(0deg);
  }
  100% {
    width: 30vw;
    transform: rotate(360deg);
  }
}

.cookieContainer {
  display: flex;
  background-color: #ff0ff0;
  height: inherit;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

#milkRender {
  top: 90%;
  width: 34%;
  height: 10%;
  display: block;
  position: fixed;
  background-color: whitesmoke;
}

#bigCookie {
  width: 300px;
  width: 400px;
  padding-left: 20%;
}

h5 {
  font-weight: normal;
}

.statSection {
  display: flex;
  flex-direction: column;
  font-size: 3vw;
  border: 1px solid blue;
  background-color: red;
  justify-content: space-evenly;
  padding-left: 1ch;
  padding-right: 1ch;
  padding-top: 3ch;
  padding-bottom: 5ch;
}

.shopSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid blue;
  background-color: green;
}

button {
  width: 80%;
  height: 10ch;
}
